.jumbotron {
    background-color: transparent;
    padding: 20px 0 0px 0;
}

.btn-outline-primary {
    color: #33b38d;
    border-color: #33b38d;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle
{
    color: white;
    border-color: #33b38d;
    background: #33b38d;
    box-shadow: 0 0 0 0.2rem rgb(51, 179, 141);
}


.year-row {
    background-color: #e6e6e6;
}

table th {
    text-align: center;
}

table {
    font-size: 80%;
}

.no-styling-link,
.no-styling-link:hover {
    color: inherit;
    text-decoration: inherit;
}

.card {
    margin-bottom: 10px;
}