.jumbotron {
    background-color: transparent;
    padding: 20px 0 0px 0;
}

.btn-outline-primary {
    color: #33b38d;
    border-color: #33b38d;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
    color: white;
    border-color: #33b38d;
    background: #33b38d;
}

.no-styling-link,
.no-styling-link:hover {
    color: inherit;
    text-decoration: inherit;
}


ol {
    padding: 20px;
}

ol li {
    margin-bottom: 15px;
}
.card-body {
    padding-bottom: 0;
}

.card {
    margin-bottom: 10px;
    min-width: 200px;
}
.workout-day {
    margin-bottom: 20px;
}

.workout {
    margin-bottom: 50px;
}